<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Predict Loan Approval</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Loan Approval</h1>

     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}"method="POST">
      <input type="text" name="account_status" placeholder="$0 - $119.90 & up" required="required" /><br>
    	<input type="text" name="personal_status_sex" placeholder="Sex/Marital Status" required="required" /><br>
        <input type="text" name="credit_amount" placeholder="Credit Amount" required="required" /><br>
        <input type="text" name="age" placeholder="Age" required="required" /><br>
        <input type="text" name="housing" placeholder="Rent/Own/For Free" required="required" /><br>
        

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{pred}}

</body>
</html>





